Welcome to the BARManeger system!<br><br>
This system was built as a part of the "Information system planning and analyzis",<br> 
in the Azrieli college of engineering. <br>
This system was written in node JS, and the following packages were used:<br><br>
async<br>
bcrypt-nodejs<br>
body-parser<br>
cookie-parser<br>
express<br>
express-session<br>
lodash - A JavaScript utility library delivering consistency, modularity, performance, & extras.<br>
mysql - A pure node.js JavaScript Client implementing the MySql protocol.<br>
passport - Passport is authentication middleware for Node.js. Extremely flexible and modular.<br>
passport-local<br>
sequelize - Sequelize is a promise-based Node.js/io.js ORM for Postgres, MySQL, MariaDB, SQLite and


Microsoft SQL Server. <br>
It features solid transaction support, relations, read replication and more.<br>
<br>
This system was designed to utilize the work in a bar.<br>
By inserting known data the bar manager or shift manager will have the needed information to maximize the efficiency 
and profit of their bar.<br>
By inserting the data the system will run a simulation, written in Java Script, that will output the expected 
profit, drinks consumption and employee efficiency.<br>
This data will allow the manager to make smarter and more calculated decisions regarding the upcoming shift,
which will eventually save him time and money.<br>
<br>
This project was made by:<br>
Itay Katzir<br>
Osher Birger<br>
Jenya Berkovich<br>
Hermina Himelbrand<br>
<br>
A special thanks to Daniel Cohen from Iron Source for his significant help.<br>
<br>
If you encounter any problems or you have a question, please contact us at:<br>
jenya.berkovich@gmail.com<br>
<br>
Thank you and best regards,<br>
Itay, Osher, Jenya and Hermina<br>